.viewport{
    display: block;
    position: relative;
    height: calc(100vh - 90px);
    top: 90px;
    width: 100vw;
    overflow:hidden;
    top: 90px;
}

.backround{
    opacity: 80%;
    width: 100%;
    filter: brightness(30%);
}

.start_container{
    display: flex;
    position: fixed;
    width: 40rem;
    height: 50rem;
    border: 1px solid black;
    top: 7rem;
    left: 30%;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
}

.start_loc_options{
    display: flex;
    justify-content: center;
    height: 95%;
    width: 95%;
}

.start_location_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
}

.start_location_main{
    display: flex;
    height: 90%;
    width: 100%;
}

.start_location_image, .start_location_chars{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.start_location_image{
    width: 70%;
}

.location_preview{
    height: 95%;
    width: 85%;
    display: block;
    border: 1px solid white;
}

.start_char_options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
}

.char_container{
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
}

.char_preview{
    height: 90%;
    width: auto;
}

.header2{
    color: rgb(187, 255, 0);
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.header3{
    color: white;
    color: rgb(187, 255, 0);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.start_game_btn, .start_game_btn:active{
    height: 2.5rem; 
    width: 15rem;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.start_game_btn:hover {
    color: black;
    background-color: rgb(187, 255, 0);
}

.start_game_btn:active{
   color:rgb(54, 54, 54);
   background-color: white;
}

