.onSuccess{
    position: fixed;
    top:auto;
    display: flex;
    width: 12rem;
    height: 4rem;
    background-color: rgb(34, 34, 34);
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

.onSuccess>p{
    text-align: center;
    color: rgb(187, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}